.home-container {
    width: 100%;
    display: flex;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    transition: 0.3s;
    align-items: center;
    flex-direction: column;
  }
  
  .home-gallery {
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: grid;
    padding: var(--dl-space-space-threeunits);
    grid-gap: var(--dl-space-space-unit);
    max-width: var(--dl-size-size-maxwidth);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-hero {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-unit);
    position: relative;
    min-height: 80vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&h=1200');
  }
  .home-text {
    color: var(--dl-color-scheme-white);
    font-size: 3rem;
  }
  .home-text01 {
    color: var(--dl-color-scheme-white);
    width: var(--dl-size-size-maxwidth);
    height: 100%;
    padding: var(--dl-space-space-sixunits);
    align-self: center;
  }
  .home-btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-button {
    font-size: 0.75rem;
    transition: 0.3s;
    padding-top: var(--dl-space-space-unit);
    border-width: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
  }
  .home-button:hover {
    transform: scale(1.02);
  }
  .home-button1 {
    color: var(--dl-color-scheme-white);
    font-size: 0.75rem;
    transition: 0.3s;
    margin-left: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    border-color: var(--dl-color-scheme-white);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
    text-transform: uppercase;
    background-color: transparent;
  }
  .home-button1:hover {
    transform: scale(1.02);
  }
  .home-banner {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text02 {
    font-size: 3rem;
    text-align: center;
  }
  .home-text03 {
    max-width: var(--dl-size-size-maxwidth);
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-steps {
    width: 1051px;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
  }
  .home-text04 {
    color: var(--dl-color-scheme-black);
    font-size: 3rem;
  }
  .home-text06 {
    color: #999999;
    font-size: 1.15rem;
    max-width: 600px;
    margin-top: var(--dl-space-space-unit);
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container01 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-step {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container02 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: 2px;
    padding-right: 2px;
    flex-direction: row;
    justify-content: center;
  }
  .home-line {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: transparent;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container03 {
    flex: 0 0 auto;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: #f5f5f5ff;
  }
  .home-icon {
    width: 24px;
    height: 24px;
  }
  .home-line1 {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #D9D9D9;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container04 {
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text09 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text10 {
    color: rgb(89, 89, 89);
    font-size: 0.75rem;
    text-align: center;
  }
  .home-step1 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container05 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: 2px;
    padding-right: 2px;
    flex-direction: row;
    justify-content: center;
  }
  .home-line2 {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #D9D9D9;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container06 {
    flex: 0 0 auto;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: #f5f5f5ff;
  }
  .home-icon02 {
    width: 24px;
    height: 24px;
  }
  .home-line3 {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #D9D9D9;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container07 {
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text13 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text14 {
    color: rgb(89, 89, 89);
    font-size: 0.75rem;
    text-align: center;
  }
  .home-step2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container08 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: 2px;
    padding-right: 2px;
    flex-direction: row;
    justify-content: center;
  }
  .home-line4 {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #D9D9D9;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container09 {
    flex: 0 0 auto;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: #f5f5f5ff;
  }
  .home-icon04 {
    width: 24px;
    height: 24px;
  }
  .home-line5 {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #D9D9D9;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container10 {
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text15 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text16 {
    color: rgb(89, 89, 89);
    font-size: 0.75rem;
    text-align: center;
  }
  .home-step3 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-container11 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: 2px;
    padding-right: 2px;
    flex-direction: row;
    justify-content: center;
  }
  .home-line6 {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: #D9D9D9;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container12 {
    flex: 0 0 auto;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    align-items: center;
    border-radius: var(--dl-radius-radius-round);
    flex-direction: row;
    justify-content: center;
    background-color: #f5f5f5ff;
  }
  .home-icon06 {
    width: 24px;
    height: 24px;
  }
  .home-line7 {
    flex: 1;
    height: 0px;
    display: flex;
    align-items: flex-start;
    border-color: transparent;
    border-style: dashed;
    border-width: 2px;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .home-container13 {
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text19 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text20 {
    color: rgb(89, 89, 89);
    font-size: 0.75rem;
    text-align: center;
  }
  .home-social-bar {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .home-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon12 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon14 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-icon16 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  @media(max-width: 991px) {
    .home-gallery {
      grid-template-columns: 1fr 1fr;
    }
    .home-hero {
      flex-direction: column;
    }
    .home-text {
      text-align: center;
    }
    .home-text01 {
      text-align: center;
    }
    .home-text03 {
      max-width: 100%;
    }
    .home-text04 {
      text-align: center;
    }
    .home-text06 {
      text-align: center;
    }
  }
  @media(max-width: 767px) {
    .home-gallery {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-hero {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-banner {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-text03 {
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-steps {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .home-container01 {
      align-items: flex-start;
      padding-left: var(--dl-space-space-fiveunits);
      flex-direction: column;
    }
    .home-step {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: center;
    }
    .home-container02 {
      width: var(--dl-size-size-small);
      height: auto;
      align-self: stretch;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      flex-direction: column;
      padding-bottom: 2px;
      justify-content: space-between;
    }
    .home-line1 {
      border-color: #D9D9D9;
      border-style: dashed;
      border-top-width: 0px;
      border-left-width: 2px;
    }
    .home-container04 {
      width: 100%;
      align-items: flex-start;
      padding-top: var(--dl-space-space-twounits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-twounits);
      justify-content: space-between;
    }
    .home-text09 {
      margin-top: var(--dl-space-space-twounits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text10 {
      text-align: left;
    }
    .home-step1 {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: center;
    }
    .home-container05 {
      width: var(--dl-size-size-small);
      height: auto;
      align-self: stretch;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      flex-direction: column;
      padding-bottom: 2px;
      justify-content: space-between;
    }
    .home-line2 {
      border-top-width: 0px;
      border-left-width: 2px;
    }
    .home-line3 {
      border-color: #D9D9D9;
      border-style: dashed;
      border-top-width: 0px;
      border-left-width: 2px;
    }
    .home-container07 {
      width: 100%;
      align-items: flex-start;
      padding-top: var(--dl-space-space-twounits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-twounits);
      justify-content: space-between;
    }
    .home-text13 {
      margin-top: var(--dl-space-space-twounits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text14 {
      text-align: left;
    }
    .home-step2 {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: center;
    }
    .home-container08 {
      width: var(--dl-size-size-small);
      height: auto;
      align-self: stretch;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      flex-direction: column;
      padding-bottom: 2px;
      justify-content: space-between;
    }
    .home-line4 {
      border-top-width: 0px;
      border-left-width: 2px;
    }
    .home-line5 {
      border-color: #D9D9D9;
      border-style: dashed;
      border-top-width: 0px;
      border-left-width: 2px;
    }
    .home-container10 {
      width: 100%;
      align-items: flex-start;
      padding-top: var(--dl-space-space-twounits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-twounits);
      justify-content: space-between;
    }
    .home-text15 {
      margin-top: var(--dl-space-space-twounits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text16 {
      text-align: left;
    }
    .home-step3 {
      width: 100%;
      height: auto;
      flex-direction: row;
      justify-content: center;
    }
    .home-container11 {
      width: var(--dl-size-size-small);
      height: auto;
      align-self: stretch;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      flex-direction: column;
      padding-bottom: 2px;
      justify-content: space-between;
    }
    .home-line6 {
      border-top-width: 0px;
      border-left-width: 2px;
    }
    .home-line7 {
      border-color: transparent;
      border-style: dashed;
      border-top-width: 0px;
      border-left-width: 2px;
    }
    .home-container13 {
      width: 100%;
      align-items: flex-start;
      padding-top: var(--dl-space-space-twounits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-twounits);
      justify-content: space-between;
    }
    .home-text19 {
      margin-top: var(--dl-space-space-twounits);
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text20 {
      text-align: left;
    }
    .home-social-bar {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .home-gallery {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-hero {
      width: 100%;
      padding: var(--dl-space-space-twounits);
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
    }
    .home-btn-group {
      flex-direction: column;
    }
    .home-button1 {
      margin-top: var(--dl-space-space-unit);
      margin-left: 0px;
    }
    .home-banner {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-steps {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-container01 {
      padding-left: 0px;
    }
    .home-container04 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: 0px;
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-text09 {
      margin-left: 0px;
      margin-right: var(--dl-space-space-twounits);
    }
    .home-container07 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: 0px;
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-text13 {
      margin-left: 0px;
      margin-right: var(--dl-space-space-twounits);
    }
    .home-container10 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: 0px;
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-text15 {
      margin-left: 0px;
      margin-right: var(--dl-space-space-twounits);
    }
    .home-container13 {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: 0px;
      padding-bottom: var(--dl-space-space-twounits);
    }
    .home-text19 {
      margin-left: 0px;
      margin-right: var(--dl-space-space-twounits);
    }
    .home-social-bar {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
  }